<div class="row">
    <div class="col border side">
        <div class="row">
            <div class="col"><h5 class="text-center">Mysql</h5></div>
        </div>
        <div class="row panel">
            <div class="col">
                <form action="" method="post" class="frm">
                    <input type="text" id="txt-keyword-mysql" name="keyword" class="form-control form-control-sm txt-keyword" placeholder="Input employee's name" autocomplete="off">
                </form>
                <div class="result">
                    <div class="loading" style="display: none;">
                        <img class="loading-img" src="/img/loading.gif" alt="loading" width="124px">
                    </div>
                    <div class="list" style="display: none;">
                        <ul class="list-group result-items">
                            <li class="list-group-item list-group-item-action">Cras justo odio</li>
                            <li class="list-group-item list-group-item-action">Dapibus ac facilisis in</li>
                            <li class="list-group-item list-group-item-action">Morbi leo risus</li>
                            <li class="list-group-item list-group-item-action">Porta ac consectetur ac</li>
                            <li class="list-group-item list-group-item-action">Vestibulum at eros</li>
                            <li class="list-group-item list-group-item-action">Dapibus ac facilisis in</li>
                            <li class="list-group-item list-group-item-action">Morbi leo risus</li>
                            <li class="list-group-item list-group-item-action">Porta ac consectetur ac</li>
                            <li class="list-group-item list-group-item-action">Vestibulum at eros</li>
                            <li class="list-group-item list-group-item-action">Vestibulum at eros</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col border side">
        <h5 class="text-center">Elasticsearch</h5>
    </div>
</div>
